<tr id="customer_<%= expense.id %>">
  <td class="date">
    <div class="day">
      <%= expense.date_expense.strftime('%d') %>
    </div>
    <div class="month">
      <%= expense.date_expense.strftime('%B') %>
    </div>
  </td>
  <td>
    <div>
      <span class="type">
        <%= Purchase.find_by(id: expense.purchase_id).name_purchases %>
      </span>
    </div>
    <div>
      <span class="concept">
        <%= expense.name %>
      </span>
    </div>
  </td>
  <td class="category text-right">
    <%= Category.find_by(id: expense.category_id).name %>
  </td>
  <td class="text-right" style="width: 170px;">
    <div class="amount">
      $ <%= expense.amount %>
    </div>
    <div class="actions">
      <%= link_to  edit_expense_path(expense), remote: true do %>
        <span class="glyphicon glyphicon-edit"></span> Edit
      <% end %>
      <%= link_to expense, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
        <span class="glyphicon glyphicon-trash"></span> Delete
      <% end %>
    </div>
  </td>
</tr>
