<div class="container">
  <div class="row">

<!-- Inicio tablas de filtro category y Purchase -->
    <div class="col-md-3">
      <h4 class="filter-header">
        Transaction Type <span>Seleciona para filtrar</span>
      </h4>
      <div class="list-group filter-type">
        <%= link_to  "Compra", expenses_path(purchase_id: 1), class: "list-group-item" %>
        <%= link_to  "Retiro", expenses_path(purchase_id: 2), class: "list-group-item" %>
        <%= link_to  "Transferencia", expenses_path(purchase_id: 3), class: "list-group-item" %>
        <%= link_to  "Pago", expenses_path(purchase_id: 4), class: "list-group-item" %>
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <%= link_to  "Restaurantes", expenses_path(category_id: 1), class: "list-group-item" %>
        <%= link_to  "Tienda", expenses_path(category_id: 2), class: "list-group-item" %>
        <%= link_to  "Car", expenses_path(category_id: 3), class: "list-group-item" %>
        <%= link_to  "Servicios", expenses_path(category_id: 4), class: "list-group-item" %>
        <%= link_to  "Hogar", expenses_path(category_id: 5), class: "list-group-item" %>
        <%= link_to  "Educación", expenses_path(category_id: 6), class: "list-group-item" %>
        <%= link_to  "Diversión", expenses_path(category_id: 7), class: "list-group-item" %>
        <%= link_to  "Viaje", expenses_path(category_id: 8), class: "list-group-item" %>
      </div>
    </div>
<!-- Fin tablas de filtro category y Purchase -->

    <div class="col-md-9 index-data">


<!-- Inicio de sumas y promedio -->
      <div class="row" style="margin-top: 10px;">
        <div class="row" style="margin-top: 10px;">
          <div class="summary-box col-md-4 text-center">
              <div class="summary-value">
                $ <%= @expenses.sum(:amount) %>
              </div>
            <div class="summary-label">Total</div>
          </diV>
          <div class="summary-box col-md-4 text-center">
            <div class="summary-value"><%= @expenses.count %></div>
            <div class="summary-label">Transactions</div>
          </div>
          <div class="summary-box col-md-4 text-center">
            <% if (@expenses.sum(:amount)) == 0 %>
              <div class="summary-value">
                $ 0
              </div>
            <% else %>
              <div class="summary-value">
                <% average = number_with_precision(@expenses.sum(:amount) / @expenses.count(:id), :precision => 2) %>
                $ <%= average %>
              </div>
            <% end %>
            <div class="summary-label">Average</div>
          </div>
        </div>
      </div>
<!-- Fin de sumas y promedio -->

<!-- Inicio Control nuevo Expense y dropdown mes -->
      <div class="row" style="margin-top: 20px;" i>
        <div class="col-md-12">
          <%= link_to "<span class='glyphicon glyphicon-plus'></span> New Expense".html_safe, new_expense_path, remote: true, class: "btn btn-success pull-left", id: "nuevo" %>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">


              <%= @date = Date.today.strftime("%B %Y") %>

              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
              <%= link_to  "Enero 2018", expenses_path(month: 1) %>
              </li>
              <li role="presentation">
              <%= link_to  "Febrero 2018", expenses_path(month: 2) %>
              </li>
              <li role="presentation">
              <%= link_to  "Marzo 2018", expenses_path(month: 3) %>
              </li>
              <li role="presentation">
              <%= link_to  "Abril 2018", expenses_path(month: 4) %>
              </li>
              <li role="presentation">
              <%= link_to  "Mayo 2018", expenses_path(month: 5) %>
              </li>
              <li role="presentation">
              <%= link_to  "Junio 2018", expenses_path(month: 6) %>
              </li>
              <li role="presentation">
                <%= link_to  "Julio 2018", expenses_path(month: 7) %>
              </li>
              <li role="presentation">
              <%= link_to  "Agosto 2018", expenses_path(month: 8) %>
              </li>
              <li role="presentation">
              <%= link_to  "Septiembre 2018", expenses_path(month: 9) %>
              </li>
              <li role="presentation">
              <%= link_to  "Octubre 2018", expenses_path(month: 10) %>
              </li>
              <li role="presentation">
              <%= link_to  "Noviembre 2018", expenses_path(month: 11) %>
              </li>
              <li role="presentation">
              <%= link_to  "Diciembre 2018", expenses_path(month: 12) %>
              </li>
            </ul>
          </h4>
        </div>
      </div>
<!-- Fin Control nuevo Expense y dropdown mes -->

<!-- Inicio de tabla de gastos  -->
      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>

        <tbody id="customers">
          <%= render @expenses %>
        </tbody>
      </table>
      <%= render 'dialog' %>
<!-- Fin de tabla de gastos  -->

    </div>

  </div>
</div>
